@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
}

@media (max-width: 500px) {
  h4 {
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #00bfb3;
}

.nav-item {
  color: white;
  font-family: 'Turret Road', cursive;

}

.hero {
  background-image: url(./images/mktg-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Turret Road', cursive;

}

h1,h3 {
  color: black;
  font-weight: bold;
}

body {
  background-color: #00bfb3;
}

h4 {
  color: white;
  font-weight: bold;
  font-family: 'Turret Road', cursive;

}

h5,p {
  font-family: 'Turret Road', cursive;
  text-align: center;
  color: black;
}

.footer-links {
  color: white;
  font-size: 13px;
}

.footer-links:hover {
  color: #202020;
  text-decoration: underline;
}

a:hover {
  color: #202020;
}

a.st-search-show-outputs.st-ui-search-tab {
    color: white;
}
